h1 {
    color:#f89308;
}

h2 {

}

h3 {

}

p {

}

li {

}

/*class*/
.container {
    font-family:'bahnschrift Condensed';
}


.logo {
    color:#f89308;
}

.menu {

}

.gameplay_about {

}

.step {
    
}

img.step {
    height:23.2px;
    width: 23.2px;
}

.steps {
    display: flex;
}

.arrow {
    margin-left: 20px;
    margin-right: 20px;
}

.feature-list{

}

.monster-list {

}

.monster-about {

}

.monster {

}



/* TOP PAGE Logo */

.logo {
    position: absolute;
    top: 20px;
    left: 30px;
    width: 350px;
    height: auto;
    z-index: 999;
}


/* 左側のメニュー */

.sidebar {
    position: fixed;

    left: 0;
    top: 0;

    width: 400px;
    height: 100vh;

    display: flex;
    flex-direction: column;
    justify-content: center;

    gap: 50px;

    padding-top: 150px;

    z-index: 100;

    background: linear-gradient(
        to right,
        rgba(0,0,0,.86) 0%,
        rgba(0,0,0,.78) 30%,
        rgba(0,0,0,.5) 60%,
        rgba(0,0,0,0) 100%
    );
}

.sidebar a {

    padding-left: 50px;

    color: rgba(255,255,255,.6);

    font-size: 28px;

    text-decoration: none;

    transition: .3s; /*アニメーションの時間*/

    text-shadow: /*文字の影*/
        0 0 2px rgba(255,255,255,.2),
        0 0 8px rgba(255,255,255,.8);
}

.sidebar a:hover { /*マウスに触れる時*/

    color: white;

    transform: translateX(10px);

    text-shadow: 0 0 15px red;
}

.sidebar:hover>a:not(:hover) { /*メニュー欄のマウスのアニメーション*/

    opacity: .3;

    filter: blur(1px);

    transform: scale(.95);
}



/*TOPに戻るボタン*/
html{
    scroll-behavior: smooth; /*TOPへ戻るアニメーション*/
}

#backToTop{

    position: fixed; /*ボタンの位置を固定する*/

    right: 30px; /*ボタンの位置*/
    bottom: 30px;

    width: 55px; /*ボタンの大きさ*/
    height: 55px;

    background: rgba(0, 0, 0, 0.7);

    color: rgb(255, 255, 255);

    text-decoration: none; /*下の線を消す*/

    display: flex; /*真ん中揃え*/
    justify-content: center; /*真ん中揃え*/
    align-items: center; /*真ん中揃え*/

    border-radius: 50%; /*円形にする*/

    font-size: 28px;

    transition: .3s; /*アニメーションの時間*/
}

#backToTop:hover{ /*マウスに触れるとき*/

    background: #ff6a00;

    transform: scale(1.1);
}
