h1 {
    color:#f89308;
}

h2 {

}

h3 {

}

p {

}

li {

}

/*class*/
.container {
    font-family:'bahnschrift Condensed';
}


.logo {
    color:#f89308;
}

.menu {

}

.gameplay_about {

}

.step {
    
}

img.step {
    height:23.2px;
    width: 23.2px;
}

.steps {
    display: flex;
}

.arrow {
    margin-left: 20px;
    margin-right: 20px;
}

.feature-list{

}

.monster-list {

}

.monster-about {

}

.monster {

}
